<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> <%= pageTitle %> </title>
</head>

<body>
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <div class="card" id="card-container">
                    <div class="card-body" id="card">
                    <% if (org.length == 0) { %> 
                        <h1 style="margin-top: 5rem;">No such organizations found!</h1>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Organization ID</th>
                                        <th>Organization Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% org.forEach((org, _) => { %>
                                        <tr>
                                            <td><%= org.org_id %></td>
                                            <td><%= org.org_name %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button onclick="window.history.back()">Back to Home</button>
</body>
