<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <div class="card" id="card-container">
                    <div class="card-body" id="card">
                    <% if (exec.length == 0) { %> 
                        <h1 style="margin-top: 5rem;">No executives found!</h1>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Company Name</th>
                                        <th>Total funding</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% exec.forEach((exec, _) => { %>
                                        <tr>
                                            <td><%= exec.exec_full_name %></td>
                                            <td><%= exec.comp %></td>
                                            <td><%= exec.total_fund %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
