<html>  
<head>  
<title>dropdown menu using select tab</title>  
</head>  
<script>  
function SelField() {  
var mylist = document.getElementById("myList");  
document.getElementById("selected").value = mylist.options[mylist.selectedIndex].text;  
}  
</script>  
  
<body>  
<form>  
<b> Select the scientific field that interests you </b>  
<select id = "myList" onchange = "SelField()" >  
<option> ---Choose field--- </option>  
<option> w3schools </option>  
<option> Javatpoint </option>  
<option> tutorialspoint </option>  
<option> geeksforgeeks </option>  
</select>  
<p> Your selected scientific field is:   
<input type = "text" id = "selected" size = "20" </p>  
</form>  
</body>  
</html>  