<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <div class="card" id="card-container">
                    <div class="card-body" id="card">
                    <% if (no_del.length == 0) { %> 
                        <h1 style="margin-top: 5rem;">No researchers found!</h1>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Number of projects</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% no_del.forEach((no_del, _) => { %>
                                        <tr>
                                            <td><%= no_del.researcher_id %></td>
                                            <td><%= no_del.researcher_name %></td>
                                            <td><%= no_del.researcher_surname %></td>
                                            <td><%= no_del.proj_count %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
