<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> <%= pageTitle %> </title>
</head>

<body>
    <p>The top 3 field tuples in projects are:</p>
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <div class="card" id="card-container">
                    <div class="card-body" id="card">
                    <% if (tuples.length == 0) { %> 
                        <h1 style="margin-top: 5rem;">No field tuples found!</h1>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Field 1</th>
                                        <th>Field 2</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% tuples.forEach((tuples, _) => { %>
                                        <tr>
                                            <td><%= tuples.scientific_field1 %></td>
                                            <td><%= tuples.scientific_field2 %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
